
<div>
    <h2>Various job roles</h2>
    <canvas id="Role"></canvas>
</div>
<script>
    var can = document.getElementById("Role");
    var HealthRep = @ViewBag.HealthRep;
    var HumanRes = @ViewBag.HumanR;
    var LabTech = @ViewBag.LabTech;
    var Mana = @ViewBag.Mana;
    var ManuDir = @ViewBag.ManuDir;
    var ResDir = @ViewBag.ResDir;
    var ResSci = @ViewBag.ResSci;
    var SalesEx = @ViewBag.SalesEx;
    var SalesRep = @ViewBag.SalesRep;

    var genderC = new Chart(can, {
        type: "bar",
        data: {
            labels: ['Healthcare Representative', 'Human Resources', 'Laboratory Technician', 'Manager', 'Manufacturing Director', 'Research Director', 'Research Scientis', 'FemaSales Executivele', 'Sales Representative'],
            datasets: [{
                data: [HealthRep, HumanRes, LabTech, Mana, ManuDir, ResDir, ResSci, SalesEx, SalesRep],
                backgroundColor: ["#cdab67", "#44ee69", "#abfb77", "#60970f", "#4dc013", "#1fda39", "#56bf4b", "#9abf03", "#35e6e1"],
                borderColor: ["#cdab67", "#44ee69", "#abfb77", "#60970f", "#4dc013", "#1fda39", "#56bf4b", "#9abf03", "#35e6e1"]
            }]
        }
    });
</script>
